@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    /* ### Primary */
    /* (main background) */
    --very-dark-blue: hsl(233, 47%, 7%);
    /* (card background) */
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    /* (accent) */
    --soft-violet: hsl(277, 64%, 61%);

    /* ### Neutral */

    /* (main heading, stats) */
    --white: hsl(0, 0%, 100%);
    /* (main paragraph) */
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    /* (stat headings) */
    --slightly-transparent-whitev2: hsla(0, 0%, 100%, 0.6);

    --inter: 'Inter', sans-serif;
    --lexend: 'Lexend Deca', sans-serif;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: inherit;
    font-family: var(--inter);
    background-color: var(--very-dark-blue);
}

img {
    width: 100%;
}

.card {
    background-color: var(--dark-desaturated-blue);
    color: var(--white);
    margin: 1.5rem;
    border-radius: .6rem;
}

.card-header {
    position: relative;
}

.header-image {
    border-radius: .5rem .5rem 0 0;
    height: 100%;
    width: 100%;
}

.card-header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsla(277, 64%, 61%, 0.6);
}


.card-body {
    padding: 2rem;
    text-align: center;
}

.hl-text {
    color: var(--soft-violet);
}

.muted-text {
    margin: 1.5rem;
    line-height: 1.7;
    color: var(--slightly-transparent-white);
}

.counter {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.counts-text {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.stat-text {
    text-transform: uppercase;
    color: var(--slightly-transparent-whitev2);
}

footer {
    color: #fff;
}